.head {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 80px;
    padding: 0 10vw;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    color: #888;
    z-index: 10;
}

.head a {
    color: #888;
    text-decoration: none;
    transition: .2s;
}

.head a.active,
.head a:hover {
    color: rgb(100, 211, 255);
}

.head__logo {
    display: flex;
    flex-grow: 0;
    align-items: center;
    margin-right: 2vw;
    font-size: 20px;
}

.head__navList {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.head__nav {
    display: flex;
}

.head__nav ul {
    display: flex;
}

.head__nav li {
    line-height: 80px;
    padding: 0 1.2vw;
    text-align: center;
    position: relative;
}

.head__nav li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 0;
    height: 3px;
    background-color: rgb(100, 211, 255);
    transition: .1s;
}

.head__nav li:hover::after {
    width: 100%;
}

.head__login {
    display: flex;
}

.head__login ul {
    display: flex;
}

.head__login ul li {
    line-height: 80px;
    padding: 0 1.2vw;
    position: relative;
}

.head__login .icon-fangdajing {
    padding: 0 10px;
    font-size: 20px;
    transition: all .2s;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.head__login input {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 200px;
    height: 30px;
    border: 1px solid rgb(100, 211, 255);
    border-radius: 2px;
    outline: none;
    padding-left: 1em;
    padding-right: 3em;
    box-sizing: border-box;
}

.head__login .icon-fangdajing:hover {
    color: rgb(100, 211, 255);
}
.head__login .notLogin{
    display: block;
}
.head__login .loginBtn {
    width: 100px;
    height: 30px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    background-color: rgb(100, 211, 255, .6);
    outline: none;
    cursor: pointer;
    transition: all .3s;
}

.head__login .loginBtn:hover {
    background-color: rgb(100, 211, 255);
}
.head__login .userInfo{
    position: relative;
    display: none;
}
.head__login .userInfo .avatar{
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border-radius: 50%;
    margin-top: -10px;
    box-shadow: 0px 0px 4px #999;
    cursor: pointer;
}
.head__login .userInfo:hover .info{
    display: block;
} 
.head__login .userInfo .info{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 200px;
    color: black;
    font-size: 14px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px #999;
    display: none;
    transition: .3s;
}
.head__login .userInfo .info::after{
    content: '';
    position: absolute;
    transform:translate(-50%) rotateZ(45deg);
    top: -5px;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
    box-shadow: -2px -2px 2px #ddd;
}
.head__login .userInfo .info li{
    margin: 4px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    transition: all .2s;
    cursor: pointer;
    z-index: 1;
}
.head__login .userInfo .info li:hover{
    background-color: #999;
    color: white;
}